
[submodule "GameSmithEngine/third-party/spdlog"]
	path = GameSmithEngine/third-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameSmithEngine/third-party/imgui"]
	path = GameSmithEngine/third-party/imgui
	url = https://github.com/Esauidk/imgui
	branch = docking
[submodule "GameSmithEngine/third-party/glm"]
	path = GameSmithEngine/third-party/glm
	url = https://github.com/g-truc/glm
[submodule "GameSmithEngineTestSuite/third-party/googletest"]
	path = third-party/googletest
	url = git@github.com:google/googletest.git
